<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Store</title>
  <link rel="stylesheet" href="../public/main.css">
  <link rel="stylesheet" href="../public/store.css">
</head>

<body>
  <header class="main-header">
    <nav class="main-header_nav">
      <ul class="main-header_item-list">
        <li class="main-header_item"><a href="../views/home.html">HOME</a></li>
        <li class="main-header_item"><a href="#">STORE</a></li>
        <li class="main-header_item"><a href="../views/aboutus.html">ABOUT</a></li>
      </ul>
      <button class="cart">CART</button>
    </nav>
    <header/>
       <div class="header-div">
        <h1>The Generics</h1>
       </div>
    
     <section class="music-container">
                
                <h2>MUSIC</h2>
                <div class="music-container1">
                  <div class="box">
                    <h3 class="h3">Album 1</h3>
                    <div class="img-cont">
                      <img class="product-imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh9t1IJoNllJVzhVRW-3hn7aucFZaUnYQMDw&usqp=CAU"
                        alt="">
                    </div>
                    <div class="product-details">
                      <span>$<span>9.99</span></span>
                      <button class="shop-btn" type='button'>ADD TO CART</button>
                    </div>
                  </div>
                  
                    <div class="box">
                      <h3 class="h3">Album 2</h3>
                      <div class="img-cont">
                        <img class="product-imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQdok7D864fQDeUFNZ4_lXge_paTf0mwVeSg&usqp=CAU"
                          alt="">
                      </div>
                      <div class="product-details">
                        <span>$<span>15.99</span></span>
                        <button class="shop-btn" type='button'>ADD TO CART</button>
                      </div>
                    </div>
                    <div class="music-container1">
                      <div class="box">
                        <h3 class="h3">Album 3</h3>
                        <div class="img-cont">
                          <img class="product-imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROjACp1duc-chlaun_oFKNjUhKoNc9SE8urtva8NLZgqtQp0B8ox2lv2fTtcKBq_hLhQE&usqp=CAU"
                            alt="">
                        </div>
                        <div class="product-details">
                          <span>$<span>12.99</span></span>
                          <button class="shop-btn" type='button'>ADD TO CART</button>
                        </div>
                      </div>
                     </div>
                    
                      <div class="box">
                        <h3 class="h3">Album 4</h3>
                        <div class="img-cont">
                          <img class="product-imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfd7GrcesPZq6Xo_ucbpdoVfkn4CLFkAClag&usqp=CAU"
                            alt="">
                        </div>
                        <div class="product-details">
                          <span>$<span>20</span></span>
                          <button class="shop-btn" type='button'>ADD TO CART</button>
                        </div>
                      </div>
                      </div>
                       
            </section>

            <section class="merch-container">
              <h2>MERCH</h2>
              <div class="merch-container1">
                <div class="box">
                  <h3 class="h3">T-SHIRT</h3>
                  <div class="img-cont">
                    <img class="product-imgs" src="https://cdn.shopify.com/s/files/1/0984/4522/products/2_9003664b-ce9d-47cc-80ca-b79fe8b6b384_large.jpg?v=1614944674"
                      alt="">
                  </div>
                  <div class="product-details">
                    <span>$<span>99.99</span></span>
                    <button class="shop-btn" type='button'>ADD TO CART</button>
                  </div>
                </div>
                <div class="box">
                  <h3 class="h3">Tea Mug</h3>
                  <div class="img-cont">
                    <img class="product-imgs"
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh6TvaAyiINPb3ke87iZ_PWNmgql3kPOYwn7mqkUB0NxAUznwW_ea8Y_vsINCjI23rY7w&usqp=CAU" alt="">
                  </div>
                  <div class="product-details">
                    <span>$<span>5</span></span>
                    <button class="shop-btn" type='button'>ADD TO CART</button>
                  </div>
                </div>
              </div>
            
            </section>
  </header>
  <footer class="bottom-footer">
    <nav class="bottom-footer__nav">
      <div class="footer-div">
        <h1>The Generics</h1>
      </div>
      <ul class="bottom-footer__item-list">
        <li class="bottom-header__item"><a href="https://www.youtube.com" target="_blank"><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png"
              alt="Youtube"></a></li>
        <li class="bottom-header__item"><a href="https://open.spotify.com/" target="_blank"><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/991px-Spotify_icon.svg.png"
              alt="Spotify"></a></li>
        <li class="bottom-header__item"><a href="https://www.facebook.com/" target=""><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png"
              alt="Facebook"></a></li>
      </ul>
    </nav>
  </footer>


</body>

</html>