<!DOCTYPE html>
<html>

<head>
  <title>The Generics | Store</title>
  <meta name="description" content="This is the description">
  <link rel="stylesheet" href="../public/main.css" />
  
  <script src="../js/store.js" async></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body onclick="popUpCart(event)">
  <header class="main-header" >
    <nav class="main-nav nav">
      <ul>
        <li><a href="../views/home.html">HOME</a></li>
        <li><a href="#">STORE</a></li>
        <li><a href="../views/aboutus.html">ABOUT</a></li>
        
        <a class="cart-nav-button" href="#cart"><button id="cart-button">CART</button></a>
      </ul>
    </nav>
    <h1 class="band-name band-name-large">The Generics</h1>
  </header>
 

  <section class="container content-section">
    <h2 class="section-header">MUSIC</h2>
    <div class="shop-items" onclick="addToCart(event)">
      <div class="shop-item" id="album1">
        <span class="shop-item-title" id="album!">Album 1</span>
        <img class="shop-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN6qjTfpUuKnAAflZcKSqLMoG065U9eqFuwkuNF9SsmxfQY25bBPbApFUYsMeNKqArs2g&usqp=CAU" width="260px">
        <div class="shop-item-details">
          <span class="shop-item-price">$12.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Album 2</span>
        <img class="shop-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQdok7D864fQDeUFNZ4_lXge_paTf0mwVeSg&usqp=CAU" width="260px">
        <div class="shop-item-details">
          <span class="shop-item-price">$14.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Album 3</span>
        <img class="shop-item-image" src="https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cq_auto:eco%2Cw_1200/MTg0ODQzOTk1NzI0MTI5NzY3/200-greatest-bollywood-dance-songs-dance-hits-for-parties.png">
        <div class="shop-item-details">
          <span class="shop-item-price">$9.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Album 4</span>
        <img class="shop-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSLqiri8djWvyMuRhx08PLIiPdcozScJgtww&usqp=CAU">
        <div class="shop-item-details">
          <span class="shop-item-price">$19.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container content-section">
    <h2 class="section-header">MERCH</h2>
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title">T-Shirt</span>
        <img class="shop-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTauo4c8Ph4iM3xiBaIgYM7aeODtsIP-gb6wgvn9LbymxaUuxjP8OQgFL6TOXhEHoramk&usqp=CAU">
        <div class="shop-item-details">
          <span class="shop-item-price">$19.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Coffee Cup</span>
        <img class="shop-item-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNCat5RmcMw6zHTKClqst04YiX_aoPUX3WkA&usqp=CAU">
        <div class="shop-item-details">
          <span class="shop-item-price">$6.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
    </div>
  </section>
  <section class="cart-container content-section" id="cart-container">
    <button class="close-button" id="close-button">X</button>
    <h2 id="cart" class="section-header">CART</h2>
  
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" id="btn-primary" type="button">PURCHASE</button>
  </section>
  <footer class="main-footer">
    <div class="container main-footer-container">
      <h3 class="band-name">The Generics</h3>
      <ul class="nav footer-nav">
    <li>
      <a href="https://www.youtube.com" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png"
          alt="Youtube" width="40px" height="40px">
      </a>
    </li>
    <li>
      <a href="https://www.spotify.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/991px-Spotify_icon.svg.png"
          alt="Spotify" width="40px" height="40px">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png"
          alt="Facebook" width="40px" height="40px">
      </a>
    </li>
      </ul>
    </div>
  </footer>
</body>

</html>